* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: #f06060;
}

.cn-wrapper {
    display: none;
    font-size: 1em;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 10;
    background: #fff;
}
